.todo__item {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 10px;
}

.todo__item:not(:last-child) {
    margin-bottom: 10px;
}

.todo__btns {
    display: flex;
    flex-wrap: nowrap;
}

.todo__btn {
    padding: 5px;
    flex-shrink: 0;
    border: 1px solid transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color .2s linear;
    cursor: pointer
}

.todo__btn:hover {
    border-color: #0b76ef;
}

.todo__btn:not(:last-child) {
    margin-right: 10px;
}

.todo__btn img {
    width: 18px;
    height: 18px;
}

.task__label {
    width: 100%;
    text-align: start;
    cursor: pointer;

}

/* для элемента input c type="checkbox" */
.task__label>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label, связанного с .task */
.task__label>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    width: fit-content;
    text-wrap: normal;
    transition: all .2s linear;
}

/* создание в label псевдоэлемента before со следующими стилями */
.task__label>span::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    transition: all .2s linear;
}

/* стили при наведении курсора на checkbox */
.task__label>input:not(:disabled):not(:checked)+span:hover::before,
.task__label:hover>input:not(:disabled):not(:checked)+span::before {
    border-color: #b3d7ff;
}

/* стили для активного чекбокса (при нажатии на него) */
.task>input:not(:disabled):active+span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе */
.task__label>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.task__label>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии checked */
.task__label>input:checked+span::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.task__label>input:checked+span {
    text-decoration: line-through;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.task__label>input:disabled+span::before {
    background-color: #e9ecef;
}